<template>
  <div class="flex flex-wrap">
    <ProjectCard
      class="m-6"
      v-for="project in projects"
      :key="project.id"
      :project="project"
    />
  </div>
</template>

<script>
import ProjectCard from './ProjectCard.vue'
export default {
  name: 'ListProjectCard',
  components: {
    ProjectCard
  },
  props: {
    projects: {
      type: Array,
      default: []
    }
  },
}
</script>