<template>
  <div class="bloc-modal">
    <div class="modal-card p-5 bg-gray-200 text-gray-700 rounded">
      <h2 class="pb-5 text-center"><slot></slot></h2>
      <div class="flex justify-around">
        <button class="ada-button" @click="okAction">Yes i'm sure</button>
        <button class="ada-button" @click="cancelAction">No</button>
      </div>
      <div class="overlay" @click="cancelAction"></div>  
    </div>
  </div>
</template>

<script>
  export default {
    name: 'ModalProjectHistory',
    props: ['okAction', 'cancelAction']
  }
</script>

<style scoped>
.bloc-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>
