<template>
  <div>
    <div class="flex items-center">
      <input
        v-model="password"
        :id="inputId"
        class="ada-text-input flex-auto w-1/12"
        :type="showPassword ? 'text' : 'password'"
      >
      <!-- I don't understand why we need to have something like "w-1/12" above.
      If not the button is placed outside the flex zone. -->
      <button
        class="ml-4 ada-button-minor text-xs flex-none w-16 h-8"
        @click="showPassword = !showPassword"
      >
        {{ showPassword ? 'hide' : 'show' }}
      </button>
    </div>
  </div>
</template>

<script>
export default {
  name: 'PasswordInput',
  props: ['modelValue', 'inputId'],
  emits: ['update:modelValue'],
  data () {
    return {
      showPassword: false
    }
  },
  computed: {
    password: {
      get() {
        return this.modelValue
      },
      set(value) {
        this.$emit('update:modelValue', value)
      }
    }
  }
}
</script>