<template>
  <router-link :to="`/project/${project.ref.value.id}`">
    <div class="main">
      <ProjectScreenshot :project="project" width="320" class="py-2 px-5"/>

      <div class="border-t border-purple-100"></div>

      <div class="pt-3 pb-5 px-5 h-48 overflow-auto">
        <span
          v-if="projectNameIsEmpty"
          class="ada-project-no-name"
        >
          no name
        </span>
        <span v-else class="info-name">
          {{ project.data.name }}
        </span>
        <span class="ml-6 info-id">
          {{ project.data.id }}
        </span>
        <span class="ml-6 info-user">
          by {{ project.data.userName }}
        </span>
        <p class="info-abstract">
          {{ project.data.abstract }}
        </p>
      </div>
    </div>
  </router-link>
</template>

<script>
import ProjectScreenshot from '../components/ProjectScreenshot.vue'

export default {
  props: {
    project: {
      type: Object,
      required: true
    }
  },
  components: {
    ProjectScreenshot
  },
  computed: {
    projectNameIsEmpty () {
      return this.project.data.name.trim().length === 0
    }
  }
}
</script>

<style lang="postcss" scoped>
.main {
  @apply bg-white;
  @apply rounded-sm;
  @apply shadow-lg;
  @apply border;
  @apply border-gray-100;
  @apply mx-auto;
  @apply flex;
  @apply flex-col;
  max-width: 370px;
}

.main:hover {
  @apply shadow-xl;
  @apply border-purple-200;
}

.info-name {
  @apply text-xl;
  @apply text-gray-900;
  @apply leading-tight;
}

.info-id {
  @apply text-xs;
  @apply text-gray-400;
  @apply leading-normal;
}

.info-user {
  @apply text-base;
  @apply text-gray-600;
  @apply leading-normal;
  @apply mt-3;
}

.info-abstract {
  white-space: pre-wrap;
  @apply text-sm;
  @apply text-gray-900;
  @apply leading-normal;
  @apply mt-3;
}
</style>