<template>
  <div class="text-base text-gray-700">
    <h1 class="mb-8 text-xl text-center text-gray-900 font-semibold">
      Embed this project
    </h1>
    <p class="mb-8">
      You can embed a player for this project on any website or blog. Just
      copy/paste the following HTML code:
    </p>
    <div
      class="m-2 p-4 font-mono text-xs border-gray-100 border-2"
      ref="embeddingCode"
    >
      &lt;iframe
        src="{{ urlForProjectPlayer }}"
        width="{{embedWidth}}"
        height="{{embedHeight}}"
        allowtransparency="true"
        allow="microphone; camera"
        frameborder="0"
        scrolling="no"
        allowfullscreen&gt;
      &lt;/iframe&gt;
    </div>

    <div class="flex justify-end">
      <button
        class="ada-button"
        type="button"
        title="Copy the code to the clipboard so you can paste it elsewhere"
        @click="copyEmbeddingCodeToClipBoard"
      >
        Copy to clipboard
      </button>
    </div>

    <div class="mt-8">
      Here you can change the embedding size (keeping the 16/9 ratio) of
      the above snippet:
      <div class="flex flex-col ml-10 mt-3">
        <label class="inline-flex items-center">
          <input
            type="radio"
            class="form-radio"
            name="embedSize"
            value="800 × 450"
            v-model="sizeChoice"
          >
          <span class="ml-2">800 × 450</span>
        </label>
        <label class="inline-flex items-center">
          <input
            type="radio"
            class="form-radio"
            name="embedSize"
            value="480 × 270"
            v-model="sizeChoice"
          >
          <span class="ml-2">480 × 270</span>
        </label>
        <label class="inline-flex items-center">
          <input
            type="radio"
            class="form-radio"
            name="embedSize"
            value="custom"
            v-model="sizeChoice"
          >
          <span class="ml-2">choose width:</span>
          <input
            type="number"
            class="ada-text-input ml-4 w-1/4"
            v-model="customEmbedWidth"
          >
        </label>
      </div>
    </div>

  </div>
</template>

<script>
import { reactive, watchEffect, computed, ref } from 'vue'


const selectText = function (element) {
  const range = document.createRange()
  range.selectNode(element)
  window.getSelection().removeAllRanges()
  window.getSelection().addRange(range)
}

export default {
  name: 'ProjectEmbedSettings',
  props: {
    uid: {
      type: String,
      required: true
    }
  },
  setup (props) {
    const customEmbedWidth = ref(960)
    const sizeChoice = ref('800 × 450')
    const embedWidth = computed(() => {
      if (sizeChoice.value === '800 × 450') {
        return 800
      } else if (sizeChoice.value === '480 × 270') {
        return 480
      } if (sizeChoice.value === 'custom') {
        return customEmbedWidth.value
      } else {
        return 800
      }
    })
    const embedHeight = computed(() => {
      return Math.floor((embedWidth.value*9)/16)
    })

    return {
      embedWidth,
      embedHeight,
      customEmbedWidth,
      sizeChoice
    }
  },
  computed: {
    urlForProjectPlayer () {
      const origin = window.location.origin
      return `${origin}/player?project=${this.uid}`
    }
  },
  methods: {
    copyEmbeddingCodeToClipBoard () {
      selectText(this.$refs.embeddingCode)
      document.execCommand('copy')
    }
  }
}
</script>