<template functional>
  <div>

    <div v-if="imageIsDefined">
      <img
        :src="project.data.image"
        :width="width"
        alt="project image"
        class="mx-auto"
      >
    </div>

    <div v-else>
      <img
        src="../assets/project-screenshot.png"
        :width="width"
        alt="project image"
        class="opacity-50 mx-auto"
      >
    </div>

  </div>
</template>

<script>
export default {
  props: {
    project: {
      type: Object,
      required: true
    },
    width: {
      type: String,
      required: true
    }
  },
  computed: {
    imageIsDefined () {
      return (
        this.project.data.image
        // Old projects without image used to contain the URL to a placeholder
        // image that we don't want to display.
        && !this.project.data.image.startsWith('https://picsum.photos')
      )
    }
  }
}
</script>