<template>
  <div class="p-8">

    <!-- Carousel Body -->
    <div
      class="relative rounded-lg block md:flex items-center bg-gray-100 shadow-xl"
    >
      <img v-if="current.name === 'generative art'" src="../assets/adacraft_play_generative_art_1.gif" alt="">
      <img v-if="current.name === 'face detection'" src="../assets/adacraft_play_stars_head_1.gif" alt="">
      <img v-if="current.name === 'simple chat'" src="../assets/adacraft_play_chat_1.gif" alt="">

      <button
        class="prev-next-buttons absolute top-0 mt-32 left-0 -ml-6"
        @click="carouselPrev"
      >
        <span class="block" style="transform: scale(-1);">&#x279c;</span>
      </button>
      <button
        class="prev-next-buttons absolute top-0 mt-32 right-0 -mr-6"
        @click="carouselNext"
      >
        <span class="block" style="transform: scale(1);">&#x279c;</span>
      </button>
    </div>
    
    <!-- Carousel Tabs -->
    <div class="flex items-center pt-5 justify-center space-x-5">
      <button
        v-for="(carouselItem, index) of list"
        :key="carouselItem.name"
        class="px-2 opacity-50 hover:opacity-100 focus:outline-none"
        @click="currentIndex = index"
      >
        <span :class="{ 'tab-name-selected': currentIndex === index }">
          {{ carouselItem.name }}
        </span>
      </button>
    </div>
    
  </div>
</template>

<script>

export default {
  name: 'TheCarousel',
  data () {
    return {
      list: [
        { name: 'generative art', },
        { name: 'face detection' },
        { name: 'simple chat' }
      ],
      currentIndex: 0,
    }
  },
  computed: {
    current () {
      return this.list[this.currentIndex]
    }
  },
  methods: {
    carouselPrev () {
      this.currentIndex = (this.currentIndex - 1 + this.list.length) % this.list.length
    },
    carouselNext () {
      this.currentIndex = (this.currentIndex + 1) % this.list.length
    }
  }
}
</script>

<style lang="postcss" scoped>
.prev-next-buttons {
  @apply bg-white rounded-full shadow-md h-12 w-12;
  @apply text-2xl text-purple-400;
}

.prev-next-buttons:hover {
  @apply text-purple-600;
}

.prev-next-buttons:focus {
  @apply outline-none;
}

.tab-name-selected {
  @apply text-2xl font-semibold text-purple-900;
}
</style>