<template>
  <nav class="main">

    <div
      v-if="!isProductionEnvironment"
      class="bg-red-400 rounded-md text-white font-bold px-3 py-1 mr-10"
    >
      <span
        v-if="isBetaEnvironment"
        title="adacraft beta version,
with new experimental features"
      >
        beta
      </span>
      <span
        v-else
        title="You are using a dev, test, staging
or beta environment for adacraft."
      >
        not the prod env
      </span>
    </div>

    <div class="app-logo-and-name">
      <img src="../assets/logo.svg" alt="adacraft logo" width="30">
      <router-link to="/" class="app-name"> adacraft </router-link>
    </div>


    <div class="nav-actions">

      <div class="md:flex-grow">
        <router-link to="/add-project" class="nav-action">
          create
        </router-link>
        <a
          class="nav-action"
          target="_blank" rel="noopener noreferrer"
          href="https://adacraft.notion.site/a97f3c21ccda49c9b1c8c3d74d415345"
          title="Go to the adacraft featured projects page"
        >
          featured
        </a>
        <a
          class="nav-action"
          target="_blank" rel="noopener noreferrer"
          href="https://adacraft.notion.site/0da3831fbbe148dc9afe9c02fdf9c963"
          title="Go to the documentation web site for adacraft"
        >
          docs
        </a>
        <router-link to="/about" class="nav-action">
          about
        </router-link>
        <a
          class="nav-action"
          target="_blank" rel="noopener noreferrer"
          :href="feedbackUrl"
          title="Give feedback on adacraft (can be anonymous)"
        >
          feedback
        </a>
      </div>

      <div v-if="!userIsLoggedIn">
        <router-link to="/login" class="nav-action">
          log in
        </router-link>
        <router-link to="/signup" class="nav-action">
          sign up
        </router-link>
      </div>

      <div v-else>
        <router-link
          class="font-semibold text-xl mr-4"
          :to="`/people/${currentUser.id}`"
        >
          <img
            class="inline-block mr-2"
            :src="currentUser.image"
            alt="User's avatar"
            width="48"
            style="border-radius: 88888px;"
          >
          {{ currentUser.name }}
        </router-link>
        <a class="nav-action" @click="logout">
          logout
        </a>
      </div>

      <SocialMediaLink
        href="https://twitter.com/adacraft_org"
        title="Connect with adacraft on Twitter"
      >
        <img src="../assets/twitter.svg" alt="adacraft logo" width="18">
      </SocialMediaLink>

      <SocialMediaLink
        href="https://www.instagram.com/adacraft_org"
        title="Connect with adacraft on Instagram"
      >
        <img src="../assets/instagram.svg" alt="adacraft logo" width="16">
      </SocialMediaLink>

      <SocialMediaLink
        href="https://www.facebook.com/adacraft.org"
        title="Connect with adacraft on Facebook"
      >
        <img src="../assets/facebook.svg" alt="adacraft logo" width="16">
      </SocialMediaLink>

    </div>

  </nav>
</template>

<script>
import { useSession } from '../store.js'

import SocialMediaLink from './SocialMediaLink.vue'

export default {
  name: 'TheNavBar',
  components: {
    SocialMediaLink
  },
  computed:{
    isProductionEnvironment(){
      return (
        window.location.origin === 'https://adacraft.org'
        || window.location.origin === 'https://www.adacraft.org'
      )
    },
    isBetaEnvironment () {
      return window.location.origin.includes('beta')
    }
  },
  setup () {
    const { currentUser, logout, userIsLoggedIn, feedbackUrl } = useSession()
    return { currentUser, logout, userIsLoggedIn, feedbackUrl }
  }
}
</script>

<style lang="postcss" scoped>
.main {
  @apply bg-white;
  @apply border-b;
  @apply border-gray-200;
  @apply p-6;
  @apply flex;
  @apply items-center;
  @apply justify-between;
  @apply flex-wrap;
    ;
}

.app-logo-and-name {
  @apply mr-6;
  @apply flex-shrink-0;
  @apply flex;
  @apply items-center;
}

.app-name {
  font-family: 'Averia Libre', 'Segoe UI';
}

.app-name {
  @apply font-semibold;
  @apply text-xl;
  @apply tracking-wider;
  @apply ml-8;
}

.nav-actions {
  @apply w-full;
  @apply block;
  @apply flex-grow;
}

@screen md {
  .nav-actions {
    @apply flex;
    @apply items-center;
    @apply w-auto;
  }
}

.nav-action {
  @apply text-gray-600;
  @apply block;
  @apply mt-4;
  @apply mx-4;
}

.nav-action:hover {
  @apply text-black;
}

@screen md {
  .nav-action {
    @apply inline-block;
    @apply mt-0;
  }
}
</style>