<template>
  <div class="m-20 flex justify-center">
    <div
      v-if="!userIsLoggedIn"
      class="text-2xl"
    >
      <div class="m-10 max-w-md text-xl text-gray-700 shadow-2xl p-10">
        <p class="my-10">
          We just want to let you know that your are not logged in and that your
          work won't be saved online (but you still will be able to save your
          project on your computer).
        </p>
        <p class="my-10">
          Is that what you want?
        </p>
          <a href="/studio">
            <button
              class="ada-button"
              type="button"
            >
              start creating without online saving
            </button>
          </a>

        <p class="my-10">
          If not you can <router-link class="ada-link"
          to="/login"> log in </router-link> if you already have an account, or
          <router-link class="ada-link" to="/signup">
          sign up </router-link> if not.
        </p>
      </div>
    </div>
    <div v-else>
      <div
        v-if="
          processState === 'waiting to start'
          || processState === 'submission is refused'
        " 
      >
        <h1 class="title mb-10">
          <span v-if="thereIsASourceProject">
            Remix an existing project
          </span>
          <span v-else>
            Create a new project
          </span>
        </h1>
        <div v-if="thereIsASourceProject" class="m-10 max-w-sm text-gray-600">
          (you can change the name and the description before remixing)
        </div>

        <div class="w-full max-w-sm">
          <div class="md:flex md:items-center mb-6">
            <div class="md:w-1/3">
              <label
                class="ada-form-label"
                for="the-page-project-add--name"
              >
                Name
              </label>
            </div>
            <div class="md:w-2/3">
              <input
                v-model="name"
                @keyup.enter="submit"
                class="ada-text-input w-full"
                id="the-page-project-add--name"
                type="text"
              >
            </div>
          </div>
          <div class="md:flex md:items-center mb-6">
            <div class="md:w-1/3">
              <label
                class="ada-form-label"
                for="the-page-project-add--description"
              >
                Description
              </label>
            </div>
            <div class="md:w-2/3">
              <textarea
                v-model="description"
                @keyup.enter="submit"
                class="ada-text-input w-full h-48"
                id="the-page-project-add--description"
              />
            </div>
          </div>
          <div class="md:flex md:items-center">
            <div class="md:w-1/3"></div>
            <div class="md:w-2/3">
              <button
                class="ada-button"
                type="button"
                @click="submit"
              >
                <span v-if="thereIsASourceProject">
                  Remix project
                </span>
                <span v-else>
                  Add project
                </span>
              </button>
            </div>
          </div>
        </div>
        <div
          class="my-10"
          v-if="processState === 'submission is refused'"
        >
          <p>
            Something went wrong during the creation of the project.
          </p>
          <p class="mt-4">
            This is unexpected, sorry for the inconvenience. :-/
          </p>
        </div>
      </div>
      <div v-if="processState === 'wait for request response'">
        Project creation request send, please wait...
      </div>
      <div v-if="processState === 'project submitted'">
        Project has been successfully created. ✔️
      </div>
    </div>
  </div>
</template>

<script>
import { ref, watchEffect, computed } from 'vue'
import {
  useStore,
  useSubmitNewProjectProcess,
  useGetProjectByUid
} from '../store.js'
import router from '../router'
import { adacraftStorageUrl } from '../config'
import { v4 as uuidv4 } from 'uuid'

export default {
  name: 'ThePageProjectAdd',
  props: {
    sourceProjectId: String,
    sourceName: String,
    sourceDescription: String
  },
  setup (props) {
    const { currentUser, userIsLoggedIn } = useStore()

    const name = ref(props.sourceName || '')
    const description = ref(props.sourceDescription || '')

    const sourceProject = ref({})
    const { getProjectByUid } = useGetProjectByUid()
    watchEffect(async () => {
      if (props.sourceProjectId) {
        try {
          sourceProject.value = await getProjectByUid(props.sourceProjectId)        
          if (name.value === '') {
            name.value = sourceProject.value.name
          }
          if (description.value === '') {
            description.value = sourceProject.value.abstract
          }
        } catch (error) {
            console.log(`fetching source project (${props.sourceProjectId}) error: ${error}`)
        }
      }
    })

    const thereIsASourceProject = computed(
      () => props.sourceProjectId !== undefined
    )

    const sourceStorageBaseUrl = computed(() => (
        sourceProject.value.storage
        ? sourceProject.value.storage
        : adacraftStorageUrl
    ))

    const getProjectInfo = function () {
      const uniqueId = uuidv4().substr(0, 8)
      const project = {
        name: name.value,
        id: uniqueId,
        userId: currentUser.value.id,
        userName: currentUser.value.name,
        abstract: description.value,
        // We need to use the same storage space as the source for a new
        // project, because the source project might reference some assets that
        // are also stored on that storage space.
        storage: sourceStorageBaseUrl.value
      }
      if (thereIsASourceProject.value) {
        project.forkedFromProject = props.sourceProjectId
      }
      return project
    }

    const { processState, startSubmitNewProjectProcess } = useSubmitNewProjectProcess()
    const submit = async function () {
      const project = getProjectInfo()
      const zeSourceProjectId = props.sourceProjectId || 'default'
      const projectId = await startSubmitNewProjectProcess(
        project, sourceStorageBaseUrl.value, zeSourceProjectId
      )
      if (projectId !== undefined) {
        router.push(`/project/${projectId}`)
        if (thereIsASourceProject.value) {
          window.open(
            `/studio?project=${project.id}`,
            '_self'
          )
        }

        processState.value = 'waiting to start'
      }
    }

    return {
      name,
      description,
      userIsLoggedIn,
      processState,
      thereIsASourceProject,
      submit
    }
  }
}
</script>

<style lang="postcss" scoped>
.title {
  @apply text-center;
  @apply text-gray-800;
  @apply p-10;
  @apply text-2xl;
  @apply tracking-wider;
}
</style>