<template>
  <div class="flex justify-center">
    <div class="m-10 max-w-xl text-xl text-gray-700">
      <p class="my-10">
        <span class="adacraft-typo">adacraft</span> is a tool for creating
        things using <span class="font-bold">block programming</span>. It's a
        fork of <a class="ada-link" target="_blank" rel="noopener noreferrer"
        href="https://scratch.mit.edu/" >Scratch</a> from MIT.
      </p>
      <p>
        The idea with <span class="adacraft-typo">adacraft</span> is to explore
        how we can extend Scratch-like block programming to <span
        class="font-bold">foster creativity</span> by improving the <span
        class="font-bold">programming experience</span> and by adding <span
        class="font-bold">new blocks</span> and features to allow new use cases
        or improve existing ones, like generative art, network communication
        (like simple chat), artificial intelligence, multiplayer experiences,
        etc.
      </p>


      <h1 class="text-2xl mt-20 text-gray-900 font-semibold">
        Privacy Policy and Terms of Use
      </h1>

      <p class="my-10">
        For more information about privacy and terms of use, go to the
        <router-link to="/terms" class="ada-link">Terms page</router-link>.
      </p>

      <h1 class="text-2xl mt-20 text-gray-900 font-semibold">
        Contribute
      </h1>

      <p class="my-10">
        We're looking for people to contribute to the <span
        class="adacraft-typo">adacraft</span> project.
      </p>

      <p class="my-10">
        <span class="font-bold">Inclusiveness</span> is very important to us.
        You're <span class="font-bold">welcome</span> no matter your skills or
        knowledge as long as you're kind, courteous, respectful and helpful. We
        welcome people from any country, ethnicity, religion, age, gender,
        sexual orientation, gender identity, gender expression, disability or
        economic status, citizenship and any other diverse backgrounds.
      </p>

      <p class="my-10">
        There are <span class="font-bold">several ways</span> you can
        contribute: development, design, examples, tutorials, videos, community
        management, etc.
      </p>

      <p class="my-10">
        To join the project, first <span class="font-bold">get in touch</span>
        with any of the adacraft contact pointers below or directly by
        contacting me (Nicolas Decoster, see below).
      </p>

      <p class="my-10">
        You can find the <span class="font-bold">source code</span> for the
        adacraft editor and portal on
        <a href="https://gitlab.com/adacraft" target="_blank"
        rel="noopener noreferrer" class="ada-link">GitLab</a>.
      </p>


      <h1 class="text-2xl mt-20 text-gray-900 font-semibold">
        Contact & Feedback
      </h1>

      <p class="mt-5">
        If you want to get in touch, email to <code class="text-sm font-bold
        text-gray-900" >adacraft[at]mailbox.org</code>, send a direct message to
        <a class="ada-link" target="_blank" rel="noopener noreferrer"
        href="https://twitter.com/adacraft_org" >@adacraft_org</a> on Twitter,
        or use the <a class="ada-link" target="_blank" rel="noopener noreferrer"
        :href="feedbackUrl">feedback page</a>.
      </p>

      <p class="mt-5">
        Find us on <a class="ada-link" target="_blank" rel="noopener noreferrer"
        href="https://twitter.com/adacraft_org" >Twitter</a>, <a
        class="ada-link" target="_blank" rel="noopener noreferrer"
        href="https://www.instagram.com/adacraft_org" >Instagram</a> or on <a
        class="ada-link" target="_blank" rel="noopener noreferrer"
        href="https://www.facebook.com/adacraft.org" >Facebook</a>.
      </p>

      <p class="mt-5">
        <span class="adacraft-typo">adacraft</span> is a project created by
        Nicolas Decoster (<a href="https://twitter.com/ogadaki" target="_blank"
        rel="noopener noreferrer" class="ada-link">@ogadaki</a> on Twitter).
        Feel free to contact me directly.
      </p>


      <h1 class="text-2xl mt-20 text-gray-900 font-semibold">
        <span class="adacraft-typo">adacraft</span> for educators
      </h1>

      <p class="mt-5">
        <span class="adacraft-typo">adacraft</span> has also been integrated
        into <a href="http://vittascience.com" target="_blank" rel="noopener
        noreferrer" class="ada-link">Vittascience</a>, an educational platform
        for learning coding. This platform provides class management and other
        features that might interest educators. Vittascience is build with
        school requirements in mind (especially with very rigorous privacy
        policy) and integrates with some other school platforms. Vittascience
        also provides other programming tools (Python, HTML/CSS, other hardware,
        etc.).
      </p>

      <p class="mt-5">
        For a use as an educational tool, like in schools, we highly <span
        class="font-bold">recommend</span> using <span
        class="adacraft-typo">adacraft</span> from <span
        class="font-bold">Vittascience</span> platform. Discover it <a
        href="http://vittascience.com/adacraft/" target="_blank" rel="noopener
        noreferrer" class="ada-link">here</a>. Of course, if you prefer, it is
        also perfectly OK to use it from adacraft.org.
      </p>


      <HorizontalLine/>

      <h1 class="text-2xl mt-20 text-gray-900 font-semibold">
        Acknowledgements & Credits
      </h1>

      <p class="mt-5">
        The adacraft <span class="font-bold">editor</span> is based on:
      </p>

      <ul class="list-disc list-inside">
        <li><a class="ada-link" target="_blank" rel="noopener noreferrer"
        href="https://scratch.mit.edu/" >Scratch</a>, developed by MIT</li>
        <li><a href="https://turbowarp.org/" target="_blank" rel="noopener
        noreferrer" class="ada-link">TurboWarp</a>, a Scratch Mod developed by
        <a href="https://scratch.mit.edu/users/GarboMuffin/" target="_blank"
        rel="noopener noreferrer" class="ada-link">GarboMuffin</a> and other
        <a href="https://turbowarp.org/credits.html" target="_blank"
        rel="noopener noreferrer" class="ada-link">contributors</a>.</li>
        <li><a href="http://scratchaddons.com" target="_blank" rel="noopener
        noreferrer" class="ada-link">Scratch Addons</a> which improve the
        creative experience with block programming in Scratch mods, and are
        created and maintained by lots of <a
        href="https://scratchaddons.com/contributors/" target="_blank"
        rel="noopener noreferrer" class="ada-link">contributors</a>.</li>
      </ul>


      <p class="mt-5">
        Contributors to adacraft <span class="font-bold">extensions</span>:
      </p>

      <ul class="list-disc list-inside">
        <li><a href="https://vittascience.com/" target="_blank" rel="noopener
        noreferrer" class="ada-link">Vittascience</a> develops a new microbit
        extension.</li>
        <li>The <a href="https://github.com/MikeDev101/cloudlink"
        target="_blank" rel="noopener noreferrer" class="ada-link">CloudLink</a>
        extension is developped by <a
        href="https://scratch.mit.edu/users/MikeDEV/" target="_blank"
        rel="noopener noreferrer" class="ada-link">MikeDEV</a>.</li>
        <li><a href="https://twitter.com/jishiha" target="_blank" rel="noopener
        noreferrer" class="ada-link">石原淳也 (Junya Ishihara)</a> develops
        Posenet2Scratch, ML2scratch, and TM2Scratch extensions.</li>
        <li>Ada vision extension uses <a href="https://ml5js.org/"
        target="_blank" rel="noopener noreferrer"
        class="ada-link">ml5.js</a>.</li>
        <li>There is an extension that is based on <a href="https://p5js.org/"
        target="_blank" rel="noopener noreferrer"
        class="ada-link">p5.js</a>.</li>
        <li>The <a href="https://croquet.io/" target="_blank" rel="noopener
        noreferrer" class="ada-link">Croquet</a> extension is developed <a
        href="https://twitter.com/yoshikiohshima" target="_blank" rel="noopener
        noreferrer" class="ada-link">よしき (Yoshiki Ohshima)</a> from the
        Croquet team.</li>
      </ul>

      <p class="mt-5">
        Some
        <a
          href="https://www.freepik.com/free-vector/domestic-cat-breeds-flat-icons-collection_3796746.htm"
          target="_blank"
          rel="noopener noreferrer"
          class="ada-link"
        >cat visuals</a>
        are designed by
        <a
          href="https://macrovector.com"
          target="_blank"
          rel="noopener noreferrer"
          class="ada-link"
        >Macrovector</a>.
        
      </p>
    </div>
  </div>
</template>

<script>
import HorizontalLine from './HorizontalLine.vue'
import { useSession } from '../store.js'

export default {
  name: 'ThePageAbout',
  components: {
    HorizontalLine
  },
  setup () {
    const { feedbackUrl } = useSession()
    return { feedbackUrl }
  }
}
</script>