<template>
  <div class="flex justify-center">
    <div class="m-10 max-w-xl text-xl text-gray-700">
      <h1 class="text-5xl mt-10 text-gray-700 font-semibold">
        Oops... This page doesn't exist
      </h1>
      <p class="my-10 text-3xl">
        Back to the <a class="ada-link" href="/">home page</a>
      </p>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ThePageNotFound'
}
</script>
