<template>
  <div class="m-20 flex justify-center">

    <div v-if="projectRequestState === 'failed'">
      Can't find a project which ID is {{ id }}
    </div>

    <div v-else-if="projectRequestState === 'request send'">
      project is loading...
    </div>

    <div v-else-if="projectRequestState === 'found'">
      <div class="p-6">
        <div class="pt-1">

          <button
            class="ada-button-tiny"
            type="button"
            title="Set the name of the project"
            v-if="projectOwnedByCurrentUser && projectNameIsEmpty"
            @click="nameIsBeingEdited = projectOwnedByCurrentUser && true"
          >
            set project name
          </button>

          <input
            v-focus
            v-if="nameIsBeingEdited"
            v-model="project.data.name"
            @keyup.enter="submitNewName"
            @blur="submitNewName"
            @keyup.esc="nameIsBeingEdited = false"
            class="being-edited"
            id="inline-name"
            type="text"
          >

          <span
            v-else
            class="text-xl text-gray-900 leading-tight"
            @click="nameIsBeingEdited = projectOwnedByCurrentUser && true"
          >
            <span
              v-if="projectNameIsEmpty && !projectOwnedByCurrentUser"
              class="ada-project-no-name"
            >
              no name
            </span>
            <span v-else> {{ project.data.name }} </span>
          </span>

          <!--
            Add a space so that a double-click on the ID doesn't select the
            name too
          -->
          <span> &nbsp; </span>

          <span class="ml-6 text-xs text-gray-400 leading-normal">
            {{ project.data.id }}
          </span>

        </div>

        <div class="mb-4">
          <span class="text-gray-600 leading-tight">
            by
            <router-link
              :to="`/people/${project.data.userId}`"
              class="user-link"
            >
              {{ project.data.ownerData.name }}
            </router-link>
          </span>
        </div>

        <div v-if="projectOwnedByCurrentUser" class="flex justify-end">
          <div
            v-if="project.data.trash"
            class="mr-5 text-lg text-gray-600 mb-8"
          >
            <span class="text-purple-400 font-bold mr-2"> Warning: </span>
            this project is in the trash
          </div>
          <div>
            <button
              class="ada-button-minor mb-2 text-sm"
              type="button"
              title="Move this project to trash"
              @click="switchTrash"
            >
              <span v-if="project.data.trash"> Restore </span>
              <span v-else> Delete project </span>            
            </button>
          </div>
        </div>

        <div class="relative">

          <ProjectScreenshot :project="project" width="450"/>        

          <div
            v-if="projectOwnedByCurrentUser"
            class="absolute bottom-0 right-0 m-1"
          >
            <!-- The actual input to actually get the file. But not displayed.
            It will be triggerred by the following button which layout can be
            customized -->
            <input
              ref="screenshotFileInput"
              type="file"
              accept="image/*"
              @input="setScreenshot"
              style="display:none"
            >
            <!-- The button to trigger the invisible input element above. -->
            <button
              class="ada-button-overlay"
              @click="$refs.screenshotFileInput.click()"
            >
              change
            </button>
          </div>

        </div>


        <div class="my-6 pt-1 max-w-md text-xl text-gray-700">
          <textarea
            v-focus
            v-if="descriptionIsBeingEdited"
            v-model="project.data.abstract"
            @blur="submitNewDescription"
            @keyup.esc="descriptionIsBeingEdited = false"
            class="being-edited"
            id="inline-description"
          />
          <p
            v-else
            class="mt-3 leading-normal h-48 overflow-auto"
            @click="descriptionIsBeingEdited = projectOwnedByCurrentUser && true"
          >
            <span v-if="project.data.abstract === ''" class="text-gray-500">
              There is no description for this project, click here to add one
            </span>
            <span class="text-gray-900" style="white-space: pre-wrap;">
              {{ project.data.abstract }}
            </span>
          </p>
        </div>

        <div>
          <a :href="`/player?project=${project.data.id}`">
            <button
              class="ada-button mb-4"
              type="button"
              title="Open the project in the player so you can execute it"
            >
              Play
            </button>
          </a>
        </div>
        <a :href="`/studio?project=${project.data.id}`">
          <button
            class="ada-button"
            type="button"
            title="Open the project in the studio so you can see the code and modify it"
          >
            Open in editor
          </button>
        </a>
        <div v-if="userIsLoggedIn">
          <router-link :to="getRemixUrl(project)">
            <button
              class="ada-button my-4"
              type="button"
              title="Create a new project from this one so you can remix it"
            >
              <span> Remix </span>
            </button>
          </router-link>
        </div>

        <div class="mt-10 max-w-md text-xl text-gray-700">

          If you think it would be great to see this project in the adacraft
          <span class="font-bold">featured</span> page, go to the

          <a
            class="ada-link"
            target="_blank"
            rel="noopener noreferrer"
            :href="featuredSuggestionUrl"
          >
            featured suggestion page.
          </a>

        </div>

        <HorizontalLine/>

        <div class="max-w-md">
          <ProjectEmbedSettings :uid="project.data.id"></ProjectEmbedSettings>
        </div>

        <HorizontalLine/>

        <TheProjectHistory
          v-if="projectOwnedByCurrentUser"
          :project="project.data.id"
          :storageProject="project.data"
        />

      </div>
    </div>

  </div>
</template>

<script>
import { computed, ref } from 'vue'

import { useStore, useProject, useSubmitProjectInfo } from '../store.js'
import ProjectScreenshot from '../components/ProjectScreenshot.vue'
import ProjectEmbedSettings from '../components/ProjectEmbedSettings.vue'
import TheProjectHistory from '../components/TheProjectHistory.vue'
import HorizontalLine from './HorizontalLine.vue'
import { adacraftStorageUrl } from '../config'

export default {
  name: 'ThePageProject',
  components: {
    ProjectScreenshot,
    ProjectEmbedSettings,
    HorizontalLine,
    TheProjectHistory
  },
  props: {
    id: {
      type: String,
      required: true
    }
  },
  setup (props) {
    const { userIsLoggedIn, currentUserId } = useStore()
    const { project, projectRequestState } = useProject(props.id)
    const { submitProjectInfo } = useSubmitProjectInfo()

    const submitNewProjectInfo = async (info) => {
      const projectData = await submitProjectInfo(props.id, info)
      project.data = projectData
    }

    const projectOwnedByCurrentUser = computed(
      () => (
        userIsLoggedIn
        && project.data.userId === currentUserId.value
      )
    )

    const nameIsBeingEdited = ref(false)
    const descriptionIsBeingEdited = ref(false)

    const projectNameIsEmpty = computed(
      () => project.data.name.trim().length === 0
    )

    const featuredSuggestionUrl = computed(() => {
      const baseUrl =
        projectOwnedByCurrentUser.value
          ? 'https://tally.so/r/nW10e3'
          : 'https://tally.so/r/m6MxAn' 
      return `${baseUrl}?project=${props.id}`
    })

    return {
      projectRequestState,
      project,
      projectOwnedByCurrentUser,
      userIsLoggedIn,
      nameIsBeingEdited,
      descriptionIsBeingEdited,
      submitNewProjectInfo,
      projectNameIsEmpty,
      featuredSuggestionUrl
    }
  },
  methods: {
    submitNewName () {
      this.nameIsBeingEdited = false
      this.submitNewProjectInfo({
        name: this.project.data.name
      })
    },
    submitNewDescription () {
      this.descriptionIsBeingEdited = false
      this.submitNewProjectInfo({
        abstract: this.project.data.abstract
      })
    },
    switchTrash () {
      const newTrashValue = ! this.project.data.trash
      this.submitNewProjectInfo({
        trash: newTrashValue
      })
    },
    getRemixUrl(project) {
      const queryParams = [
        `from=${project.data.id}`
      ]
      return `/add-project?${queryParams.join('&')}`
    },
    setScreenshot () {
      const file = this.$refs.screenshotFileInput.files[0]
      if (!file.type.startsWith('image/')) {
        alert(
          `The screenshot must be an image (you have selected the file ` +
          `"${file.name}" which type is "${file.type}").\n` +
          `\n` +
          `Please choose another file.`
        )
      } else {
        const imageUrl = `${adacraftStorageUrl}/projects/${this.project.data.id}_data/images/${file.name}`
        fetch(imageUrl, {
            "credentials": "omit",
            "headers": {
                "Accept": "*/*",
                'Content-Type': file.type
            },
            "body": file,
            "method": "PUT",
            "mode": "cors"
        }).then(response => {
          this.submitNewProjectInfo({
            image: imageUrl
          })
        })
        .catch((error) => {
          console.log(`error while submitting the new screenshot: ` + error)
        })
      }
    }
  }
}
</script>

<style lang="postcss" scoped>
.being-edited {
  @apply appearance-none;

  @apply w-full;
  @apply py-2;
  @apply px-4;

  @apply text-gray-700;
  @apply bg-white;

  @apply border-2;
  @apply rounded;
  @apply border-purple-500;
  @apply outline-none;
}

.user-link {
  @apply font-bold;
}
.user-link:hover {
  @apply text-purple-400;
}
</style>