<template functional>
  <div class="flex justify-center">
    <div class="m-10 max-w-xl text-xl text-gray-700">

      <h1 class="text-4xl mt-20 text-gray-900 font-semibold">
        Storage issue
      </h1>

      <h2 class="text-2xl mt-20 text-gray-900 font-semibold">
        Everything is OK now
      </h2>

      <p class="mt-5">
        Project and images stored in adacraft before 9th March were inaccessible
        for some time. Everything is back to normal and all projects created
        with adacraft can be modified and saved.
      </p>

      <p class="mt-5">
        Once again, sorry for the inconvenience.
      </p>

      <p class="mt-5">
        To have a record of what happened, I keep the original communication
        below.
      </p>

      <div class="text-right mr-10 mt-20">
        <div class="text-2xl text-gray-600 font-semibold">
          Nicolas Decoster
        </div>
        <div class="text-xl text-gray-500">
          30th March 2020
        </div>
      </div>

      <HorizontalLine/>

      <h2 class="text-2xl text-center mt-20 text-gray-00 font-semibold">
        Original communication from 9th to 29th March
      </h2>


      <h2 class="text-2xl mt-20 text-gray-900 font-semibold">
        In short
      </h2>
      <p class="mt-5">
        There has been a major issue with the datacenter where the adacraft
        projects and assets (image, sounds...) were stored.
      </p>
      <p class="mt-5">
        The chances are high that I will be able to restore all the data but I
        can't guarantee it at the moment.
      </p>
      <p class="mt-5">
        Everything is working fine for new projects (I use a new storage). This
        issue only impacts old projects (i.e. created before March the 9th).
      </p>
      <p class="mt-5">
        Of course, I am very sorry for the inconvenience. I will inform you here
        about the evolution of the situation. Please reach me on <a
        class="ada-link" target="_blank" rel="noopener noreferrer"
        href="https://twitter.com/ogadaki" >
          Twitter
        </a> or by mail (<code class="text-sm font-bold
        text-gray-900">ogadaki[at]mailbox.org</code>) if you have any question,
        request or need help for anything. 
      </p>

      <h2 class="text-2xl mt-20 text-gray-900 font-semibold">
        In details
      </h2>
      <p class="mt-5">
        Until begining of March, adacraft projects data (code and assets) were
        stored in a datacenter owned by OVHCloud in Strasbourg, France. On
        Wednesday March the 9th, shortly after midnight, a fire broke out in
        this location, and destroyed one (SBG2) of four buildings and damaged
        another one (SBG1). For your information, there are four OVH buildings
        (or datacenters) in Strasbourg: SBG1 (partially damaged), SBG2
        (destroyed), SBG3 and SBG4.
      </p>
      <p class="mt-5">
        For the adacraft storage I am using the OVH Public Cloud Storage (a file
        storage service that is compatible with Amazon Web Service S3 solution).
        OVH has <a class="ada-link" target="_blank" rel="noopener noreferrer"
        href="https://www.ovhcloud.com/fr/lp/status-services-backup-strasbourg"
        >announced</a> that this service is mainly located in SBG3 (99,5%) and
        partly in SBG2 (0.5%). So, with this numbers in mind, one can think that
        there is a good chance that adcraft data integrity is preserved. 🤞
      </p>
      <p class="mt-5">
        OVH is doing its best to clean up the datacenter and to restart the
        servers. This process is ongoing and I follow the news from OVH. I will
        update information here. This can't be guaranteed, but maybe the service
        will be back <span class="line-through">by March 22nd</span> <span
        class="line-through">by April 8th</span> <span class="line-through">by
        March 25th</span> by March 27th (date updated in the <a class="ada-link"
        target="_blank" rel="noopener noreferrer"
        href="https://www.ovhcloud.com/fr/lp/status-services-backup-strasbourg/"
        >OVH status page</a> on 2021/03/25).
      </p>
      <p class="mt-5">
        As adacraft is an experiment and as I am the solo developper, at the
        beginning I tried to choose technical solutions that need the less
        operational actions as possible. In particular that means I chose to
        rely on my service providers for the data integrity guarantees. That is
        the case for the database (I am using the serverless database FaunaDB
        where data integrity is a major feature) and for the file storage.
        Obviously that was a bad choice for this part. I must admit I didn't
        check the OVH conditions accurately and naively thought that integrity
        was good enough and risk of issue was low.
      </p>
      <p class="mt-5">
        I hope that all data will be restored, but if not, I will dedicate some
        time for coding to help recreate users' lost adacraft projects for
        people that ask for it.
      </p>
      <p class="mt-5">
        Of course, I am very sorry for the inconvenience. I will inform you here
        about the evolution of the situation. Please reach me on <a
        class="ada-link" target="_blank" rel="noopener noreferrer"
        href="https://twitter.com/ogadaki" >
          Twitter
        </a> or by mail (<code class="text-sm font-bold
        text-gray-900">ogadaki[at]mailbox.org</code>) if you have any question,
        request or need help for anything.
      </p>

    </div>
  </div>
</template>

<script>
import HorizontalLine from './HorizontalLine.vue'

export default {
  name: 'ThePageAbout',
  components: {
    HorizontalLine
  }
}
</script>