<template>
  <Modal
    v-if="displayModal"
    :cancelAction="toggleModal"
    :okAction="restoreVersion"
  >
    Are you sure you want to restore this version?
  </Modal>

  <div class="rounded-md">
    <h1 class="font-bold text-xl mb-8 text-center">Project history</h1>
    <ul class="mb-3" v-for="version, index in info" :key="version.name">
      <li>
        <div class="flex flex-row justify-between">
          <p class="w-56 text-gray-700 h-4 flex">
            <span class="w-32">
              <span
                v-if="indexOfFirstChangeOfTheDay(index)"
                class="font-bold"
              >
                {{ localDate(version.last_modified).format('MMM, D YYYY') }}
              </span>
              <span
                v-else
                class="text-xs text-gray-500"
              >
                {{ localDate(version.last_modified).format('MMM, D') }}
              </span>
            </span>
            <span class="w-20">
              {{ localDate(version.last_modified).format('HH:mm') }}
            </span>
          </p>
            
          <button
            class="ada-button-tiny"
            type="button"
            title="Open the project in the studio so you can see the code and modify it"
          >
            <a :href="`${urlBeginning}&timestamp=${version.name.slice(21,37)}`">Open</a>   
          </button>

          <button
            class="ada-button-tiny"
            type="button"
            id="show-modal"
            @click="askForRestoreVersion(version.name)"
            title="Open the project in the studio so you can see the code and modify it"
          >
            <a>Restore</a>   
          </button>
        </div>
      </li>
    </ul>
  </div>
</template>

<script>
import axios from 'axios'
import moment from 'moment'
import ModalProjectHistory from './ModalProjectHistory.vue'
import { adacraftStorageUrl } from '../config'
import { useStore } from '../store'

export default {
  name: 'TheProjectHistory',
  components: {
    'Modal' : ModalProjectHistory
  },
  props: ['project', 'storageProject'],

  data () {
    return {
      info: [],
      timestamp: "",
      displayModal: false,
      versionNameToRestore: "",
    }
  },
  setup () {
    const { authentification } = useStore()
    return { authentification }
  },
  created () {
    setInterval(this.getNow, 1000);
  },
  mounted () {
    if(this.project !== undefined) {
      this.getHistory(this.project)
    }
  },
  watch: {
    project (value) {
      this.getHistory(value)
    },
  },
  methods: {
    getHistory: function (projectId) {
      axios
        .get(`${this.historyUrl}?format=json&prefix=011projects/${projectId}`)
        .then(response => {
          this.info = response.data.sort(
            // Reverse order on project timestamp. We sort on the names which
            // are like 011projects/3ac8db65/1624952929.23339, which always
            // start with the same string and end with the timestamp.
            (a, b) => (a.name < b.name) ? 1 : -1
          )
        })
    },
    restoreVersion: function () {
      const accountToken = this.authentification.netlifyUser.app_metadata.db_token
      const restoredFromTimestamp = this.versionNameToRestore.slice(21,37)
      this.toggleModal()
      axios
        .get(`${this.historyUrl}/${this.versionNameToRestore}`)
        .then(response => {
          axios
            .put(
              `${this.urlStorageProject}`,
              response.data,
              {
                headers: {
                  'Account-Token': accountToken,
                  'X-Object-Meta-Restored-From-Timestamp': restoredFromTimestamp,
                  'Source-Timestamp': response.headers['x-object-meta-source-timestamp']
                }
              }
            )
            .then( r => {
              alert("Project is successfully restored to a previous version!")
            })
            .catch(function () {
              alert('An unexpected error occurred during the upload of the restored version. Please try again later or contact the adacraft team.')
          }) 
        })
        .catch((error) => {
          alert('An unexpected error occurred during the download of the previous version. Please try again later or contact the adacraft team.')
        })
    },
    askForRestoreVersion: function (versionName) {
      this.toggleModal()
      this.versionNameToRestore = versionName
    },
    getNow: function () {
      const today = new Date();
      const date = today.getFullYear() + '-' + (today.getMonth() + 1) + '-' + today.getDate()
      const time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds()
      const dateTime = date + ' ' + time
      this.timestamp = dateTime
    },
    localDate: function (date) {
      return moment.utc(date).local()
    },
    indexOfFirstChangeOfTheDay(index) {
      const dayString = (date) => this.localDate(date).format('MMM, D YYYY')
      return (
        index === 0 || (
          dayString(this.info[index].last_modified)
          !== dayString(this.info[index - 1].last_modified)
        )
      )
    },
    toggleModal: function () {
      this.displayModal = !this.displayModal
    }
  },

  computed: {
    urlBeginning () {
      return `/studio?project=${this.project}`
    },
    urlStorageProject () {
      const storageUrl = this.storageProject.storage
      let url = storageUrl
      if (storageUrl === 'https://storage.adacraft.org/2') {
        // This project is stored in the second storage container. For now,
        // we don't use the base URL from the project description but we
        // compute it based on the current configuration of the editor. This
        // allows us to have separate storage spaces for different
        // deployment environment (prod, staging, beta...) even with a
        // shared project database.
        //
        // So, basicly, we convert from something like
        // "https://storage.beta.adacraft.org" to something like
        // "https://storage2.beta.adacraft.org"
        url = adacraftStorageUrl.replace('storage.', 'storage2.')
      }
      return `${url}/projects/${this.project}`;
    },
    historyUrl () {
      // From "https://storage.adacraft.org" to something like
      // "https://storage-history.beta.adacraft.org"
      let url = adacraftStorageUrl.replace('storage.', 'storage-history.')
      if (this.storageProject.storage === 'https://storage.adacraft.org/2') {
        // This project is stored in the second storage container. In that case
        // we want something like "https://storage2-history.beta.adacraft.org".
        url = url.replace('storage-', 'storage2-')
      }
      return url
    }
  }
}
</script>