<template>
  <div class="m-20 flex justify-center">
    <div
      v-if="
        processState === 'wait for user input'
        || processState === 'changes are refused'
      " 
    >

      <div class="m-10 max-w-sm text-xl text-gray-700">
        <p class="my-10">
          Edit your profile information:
        </p>
      </div>

      <div class="w-full max-w-sm">

        <div
          class="md:flex md:items-center mb-6"
        >
          <div class="md:w-1/3"></div>
          <div class="md:w-2/3 relative">
            <img
              :src="changeRequests.avatar"
              alt="User's avatar"
              width="130"
              style="border-radius: 88888px;"
            >

            <div
              class="absolute bottom-0 right-0 m-1"
            >
              <!-- The actual input to actually get the file. But not displayed.
              It will be triggerred by the next button which layout can be
              customized -->
              <input
                ref="avatarFileInput"
                type="file"
                accept="image/*"
                @input="setAvatar"
                style="display:none"
              >
              <!-- The button to trigger the invisible input element above. -->
              <button
                class="ada-button-overlay"
                @click="$refs.avatarFileInput.click()"
              >
                change
              </button>
            </div>
          </div>
        </div>


        <div class="md:flex md:items-center mb-1">
          <div class="md:w-1/3">
            <label
              class="ada-form-label"
              for="the-page-user-settings--display-name"
            >
              Display name
            </label>
          </div>
          <div class="md:w-2/3">
            <input
              v-model="changeRequests.displayName"
              class="ada-text-input w-full"
              id="the-page-user-settings--display-name"
              type="text"
            >
          </div>
        </div>

        <div
          class="md:flex md:items-center mb-5"
        >
          <div class="md:w-1/3">
          </div>
          <div class="md:w-2/3 text-red-400">
            <div
              v-if="badDisplayName"
            >
              Please choose a non empty name
            </div>
          </div>
        </div>

        <div class="md:flex md:items-center mb-6">
          <div class="md:w-1/3">
            <label
            class="ada-form-label"
              for="the-page-user-settings--bio"
            >
              Bio
            </label>
          </div>
          <div class="md:w-2/3">
            <textarea
              v-model="changeRequests.bio"
              class="ada-text-input w-full h-48"
              id="the-page-user-settings--bio"
            />
          </div>
        </div>

        <div class="md:flex md:items-center mb-6">
          <div class="md:w-1/3"/>
            <div class="md:w-2/3 text-sm">
              <router-link
                to="/change-password"
              >
                <button
                  class="ada-button w-full"
                  type="button"
                >
                  Change Password
                </button>
              </router-link>
            </div>
        </div>

        <div class="md:flex md:items-center mb-1">
          <div class="md:w-1/3">
            <label
              class="ada-form-label"
              for="the-page-user-settings--personal-id"
            >
              Personal ID
            </label>
          </div>
          <div class="md:w-2/3">
            <input
              v-model="changeRequests.personalId"
              class="ada-text-input w-full"
              id="the-page-user-settings--personal-id"
              type="text"
              @keypress="checkKeyBeforeContinue($event)"
            >
          </div>
        </div>

        <div class="md:flex md:items-center mb-6">
          <div class="md:w-1/3">
          </div>
          <div
            class="md:w-2/3 text-sm"
          >
            <div class="text-gray-500">
              The personal ID is used in your profile URL. With the current
              settings your URL will be (if available):
            </div>
            <div class="text-gray-800 my-4">
              {{ expectedProfileUrl }}
            </div>
            <div class="text-gray-500">
              Allowed characters for personal ID: letters, numbers, "." (dot),
              "-" (minus), and "_" (underscore).
            </div>
          </div>
        </div>

        <div>
          <label
            class="ada-form-label"
            for="the-page-user-settings--external-link"
          >
            My usernames on other platforms
          </label>
        </div>
        <div class="md:flex md:items-center mt-4 mb-6">
          <div class="md:w-1/3">
            <label
              class="ada-form-label"
              for="the-page-user-settings--scratch-username"
            >
              Scratch
            </label>
          </div>
          <div class="md:w-2/3">
            <input
              v-model="changeRequests.scratchUsername"
              class="ada-text-input w-full"
              id="the-page-user-settings--scratch-username"
              type="text"
            >
          </div>
        </div> 

        <div class="md:flex md:items-center mb-6">
          <div class="md:w-1/3">
            <label
              class="ada-form-label"
              for="the-page-user-settings--twitter-username"
            >
              Twitter 
            </label>
          </div>
          <div class="md:w-2/3">
            <input
              v-model="changeRequests.twitterUsername"
              class="ada-text-input w-full"
              id="the-page-user-settings--twitter-username"
              type="text"
            >
          </div>
        </div>   

        <div class="md:flex md:items-center mb-6">
          <div class="md:w-1/3">
            <label
              class="ada-form-label"
              for="the-page-user-settings--instagram-username"
            >
              Instagram 
            </label>
          </div>
          <div class="md:w-2/3">
            <input
              v-model="changeRequests.instagramUsername"
              class="ada-text-input w-full"
              id="the-page-user-settings--instagram-username"
              type="text"
            >
          </div>
        </div>

        <div class="md:flex md:items-center mb-6">
          <div class="md:w-1/3">
            <label
              class="ada-form-label"
              for="the-page-user-settings--youtube-username"
            >
              YouTube 
            </label>
          </div>
          <div class="md:w-2/3">
            <input
              v-model="changeRequests.youtubeUsername"
              class="ada-text-input w-full"
              id="the-page-user-settings--youtube-username"
              type="text"
            >
          </div>
        </div>   

        <div class="md:flex md:items-center mb-6">
          <div class="md:w-1/3">
            <label
              class="ada-form-label"
              for="the-page-user-settings--github-username"
            >
              GitHub 
            </label>
          </div>
          <div class="md:w-2/3">
            <input
              v-model="changeRequests.githubUsername"
              class="ada-text-input w-full"
              id="the-page-user-settings--github-username"
              type="text"
            >
          </div>
        </div>   

        <div
          v-if="!badDisplayName"        
          class="md:flex md:items-center"
        >
          <div class="md:w-1/3"></div>
          <div class="md:w-2/3">
            <button
              class="ada-button"
              type="button"
              @click="applyChangeRequests"
            >
              Apply changes
            </button>
          </div>
        </div>
      </div>
      <div
        class="my-10"
        v-if="processState === 'changes are refused'"
      >
        <p>
          {{ changeRequestsError }}
        </p>
      </div>
    </div>
    <div v-if="processState === 'wait for request response'">
      Change request send, please wait...
    </div>
    <div v-if="processState === 'changes applied'">
      Changes applied.
    </div>
  </div>
</template>

<script>
import { v4 as uuidv4 } from 'uuid'
import { ref, reactive, watchEffect, watch, computed } from 'vue'
import { useStore, useSubmitUserInfo } from '../store.js'
import router from '../router'
import { adacraftStorageUrl } from '../config'

const charsAreValidForPersonnalId = function (characters) {
  // We only accept alphanum characters plus _ . -
  return /^[A-Za-z0-9_.-]+$/.test(characters)
}

export default {
  name: 'ThePageSignUp',
  setup() {
    const { authentification, currentUser } = useStore()
    const changeRequests = reactive({
      avatar: '',
      displayName: '',
      bio: '',
      personalId: '',
      scratchUsername: '',
      twitterUsername: '',
      instagramUsername: '',
      youtubeUsername: '',
      githubUsername: ''
    })
    watchEffect(() => {
      const faunadbUser = authentification.faunadbUser
      if (faunadbUser) {
          const name = authentification.user
          changeRequests.avatar = faunadbUser.data.avatar ||  `https://avatars.dicebear.com/api/jdenticon/${name}.svg?w=120`
          changeRequests.displayName = faunadbUser.data.user_metadata.full_name
          changeRequests.bio = faunadbUser.data.bio || ''
          changeRequests.personalId = 
            // For legacy reasons (in particular for handling uniqueness in
            // FaunaDB), the personal ID is stored in the "username" field
            faunadbUser.data.username || ''
          changeRequests.scratchUsername = faunadbUser.data.scratchUsername || ''
          changeRequests.twitterUsername = faunadbUser.data.twitterUsername || ''
          changeRequests.instagramUsername = faunadbUser.data.instagramUsername || ''
          changeRequests.youtubeUsername = faunadbUser.data.youtubeUsername || ''
          changeRequests.githubUsername = faunadbUser.data.githubUsername || ''
      }
    })
    const expectedProfileUrl = computed(() => {
      const faunadbUser = authentification.faunadbUser
      const faunaId = faunadbUser ? faunadbUser.ref.value.id : ''
      const id = changeRequests.personalId === '' ? faunaId : changeRequests.personalId
      return `${window.location.origin}/people/${id}`
    })

    const badDisplayName = computed(() => changeRequests.displayName === '')

    const { processState, changeRequestsError, submitUserInfo } = useSubmitUserInfo()

    const applyChangeRequests = async function () {
      const faunadbUser = authentification.faunadbUser
      const changes = { user_metadata: {} }
      let somethingHasChanged = false
      if (changeRequests.avatar !== faunadbUser.data.avatar) {
        changes.avatar = changeRequests.avatar
        somethingHasChanged = true
      }
      if (changeRequests.displayName !== faunadbUser.data.user_metadata.full_name) {
        changes.user_metadata.full_name = changeRequests.displayName
        somethingHasChanged = true
      }
      if (changeRequests.bio !== faunadbUser.data.bio) {
        changes.bio = changeRequests.bio
        somethingHasChanged = true
      }
      if (
        changeRequests.personalId !== ''
        && charsAreValidForPersonnalId(changeRequests.personalId)
        && changeRequests.personalId !== faunadbUser.data.username
      ) {
        // For legacy reasons (in particular for handling uniqueness in
        // FaunaDB), the personal ID is stored in the "username" field
        changes.username = changeRequests.personalId
        somethingHasChanged = true
      }
      if (changeRequests.scratchUsername !== faunadbUser.data.scratchUsername) {
        changes.scratchUsername = changeRequests.scratchUsername
        somethingHasChanged = true
      }
      if (changeRequests.twitterUsername !== faunadbUser.data.twitterUsername) {
        changes.twitterUsername = changeRequests.twitterUsername
        somethingHasChanged = true
      }
      if (changeRequests.instagramUsername !== faunadbUser.data.instagramUsername) {
        changes.instagramUsername = changeRequests.instagramUsername
        somethingHasChanged = true
      }
      if (changeRequests.youtubeUsername !== faunadbUser.data.youtubeUsername) {
        changes.youtubeUsername = changeRequests.youtubeUsername
        somethingHasChanged = true
      }
      if (changeRequests.githubUsername !== faunadbUser.data.githubUsername) {
        changes.githubUsername = changeRequests.githubUsername
        somethingHasChanged = true
      }
      if (somethingHasChanged) {
        await submitUserInfo(changes)
        if (processState.value === 'changes applied') {
          router.push(`/people/${currentUser.value.id}`)  
        }
      }
    }

    return {
      authentification,
      changeRequests,
      badDisplayName,
      expectedProfileUrl,
      processState,
      changeRequestsError,
      applyChangeRequests
    }
  },
  methods: {
    setAvatar () {
      const file = this.$refs.avatarFileInput.files[0]
      if (!file.type.startsWith('image/')) {
        alert(
          `The avatar must be an image (you have selected the file ` +
          `"${file.name}" which type is "${file.type}").\n` +
          `\n` +
          `Please choose another file.`
        )
      } else {
        const userId = this.authentification.faunadbUser.data.id.substr(0, 8)
        const uniqueId = uuidv4().substr(0, 8)
        const extension = file.name.split('.').pop()
        const imageUrl = `${adacraftStorageUrl}/users/${userId}/data/avatar/${uniqueId}.${extension}`
        fetch(imageUrl, {
            "credentials": "omit",
            "headers": {
                "Accept": "*/*",
                'Content-Type': file.type
            },
            "body": file,
            "method": "PUT",
            "mode": "cors"
        }).then(response => {
          this.changeRequests.avatar = imageUrl
        })
        .catch((error) => {
          this.changeRequestsError = error.message
          this.processState = 'changes are refused'
          console.log(`error while submitting the new avatar: ` + error)
        })
      }
    },
    checkKeyBeforeContinue (event) {
      const char = String.fromCharCode(event.keyCode)
      if(charsAreValidForPersonnalId(char)) {
        return true
      } else {
        event.preventDefault()
      }
    }
  }
}
</script>