<template>
  <div class="m-20 flex justify-center">
    <div
      v-if="
        processState === 'waiting to start'
        || processState === 'change is refused'
      " 
    >
      <div class="w-full max-w-sm">
        <div class="md:flex md:items-center mb-6">
          <div class="md:w-1/2">
            <label
              class="ada-form-label"
              for="the-page-change-password--password"
            >
              New password
            </label>
          </div>
          <div class="md:w-2/3">
            <PasswordInput
              v-model="password"
              @keyup.enter="changePassword"
              input-id="the-page-change-password--password"
            />
          </div>
        </div>
        <div class="md:flex md:items-center">
          <div class="md:w-1/3"></div>
          <div class="md:w-2/3">
            <div>
              <button class="ada-button" type="button" @click="changePassword">
                Change password
              </button>
            </div>
          </div>
        </div>
      </div>
      <div
        class="m-10 max-w-sm text-xl text-gray-700"
        v-if="processState === 'change is refused'"
      >
        <p>
          Either the E-mail or the password is incorrect
        </p>
        <p class="mt-4">
          Please try again
        </p>
      </div>
    </div>
    <div
      class="max-w-sm text-xl text-gray-700"
      v-if="processState === 'wait for request response'"
    >
      Password change request send, please wait...
    </div>
    <div
      class="max-w-sm text-xl text-gray-700"
      v-if="processState === 'password is changed'"
    >
      Your password has been updated!
    </div>
    <div
      class="max-w-sm text-xl text-gray-700"
      v-if="processState === 'no current user'"
    >
      Please login before changing your password!
    </div>
  </div>
</template>

<script>
import { ref } from 'vue'
import { useStore, useChangePasswordProcess } from '../store.js'
import router from '../router'
import PasswordInput from './PasswordInput.vue'

export default {
  name: 'ThePageChangePassword',
  components: {
    PasswordInput
  },
  setup () {
    const { currentUserId } = useStore()

    const email = ref('')
    const password = ref('')

    const {
      processState,
      startChangePasswordProcess
    } = useChangePasswordProcess()

    const changePassword = async function () {
      await startChangePasswordProcess(password.value)
      if (processState.value === 'user is connected') {
        processState.value = 'waiting to start'
        router.push(`/people/${currentUserId.value}`)
      }
    }

    return {
      email,
      password,
      processState,
      changePassword
    }
  }
}
</script>
