<template>
  <div>
    <h1 class="title"> Some examples </h1>
    <ListProjectCard :projects="featuredProjects"/>
  </div>
</template>

<script>
import { computed, reactive, watchEffect } from 'vue'

import { useFeaturedProjects } from '../store.js'

import ListProjectCard from '../components/ListProjectCard.vue'

export default {
  name: 'ThePageProjects',
  components: {
    ListProjectCard
  },
  setup () {
    const { featuredProjects } = useFeaturedProjects()
    return { featuredProjects }
  }
}
</script>

<style lang="postcss" scoped>
.title {
  @apply text-center;
  @apply text-gray-800;
  @apply p-10;
  @apply text-2xl;
  @apply tracking-wider;
}
</style>