<template>
  <div class="m-20 flex justify-center">
    <div
      v-if="
        signupProcessState === 'wait for user input'
        || signupProcessState === 'sign up is refused'
      " 
    >
      <div class="m-10 max-w-sm text-xl text-gray-700">
        <p class="my-10">
          If you want to join <span class="adacraft-typo">adacraft</span>,
          please fill the form below.
        </p>
      </div>
      <div class="w-full max-w-sm">
        <div class="md:flex md:items-center mb-6">
          <div class="md:w-1/3">
            <label
              class="ada-form-label"
              for="the-page-signup--email"
            >
              E-mail
            </label>
          </div>
          <div class="md:w-2/3">
            <input
              v-model="email"
              @keyup.enter="signup"
              class="ada-text-input w-full"
              id="the-page-signup--email"
              type="text"
            >
          </div>
        </div>
        <div class="md:flex md:items-center mb-6">
          <div class="md:w-1/3">
            <label
              class="ada-form-label"
              for="the-page-signup--password"
            >
              Password
            </label>
          </div>
          <div class="md:w-2/3">
            <PasswordInput
              v-model="password"
              @keyup.enter="signup"
              input-id="the-page-signup--password"
            />
          </div>
        </div>
        <div class="md:flex md:items-center mb-1">
          <div class="md:w-1/3">
            <label
              class="ada-form-label"
              for="the-page-signup--display-name"
            >
              Display name
            </label>
          </div>
          <div class="md:w-2/3">
            <input
              v-model="displayName"
              @keyup.enter="signup"
              class="ada-text-input w-full"
              id="the-page-signup--display-name"
              type="text"
            >
          </div>
        </div>

        <div
          class="md:flex md:items-center mb-5"
        >
          <div class="md:w-1/3">
          </div>
          <div class="md:w-2/3 text-red-400">
            <div
              v-if="userHasStartedEditingDisplayName && badDisplayName"
            >
              Please choose a non empty name
            </div>
          </div>
        </div>

        <div
          v-if="allFieldsAreOk"
          class="md:flex md:items-center"
        >
          <div class="md:w-1/3"></div>
          <div class="md:w-2/3">
            <button class="ada-button" type="button" @click="signup">
              Sign up
            </button>
          </div>
        </div>

      </div>
      <div
        class="my-10"
        v-if="signupProcessState === 'sign up is refused'"
      >
        <p>
          {{ signupError }}
        </p>
      </div>
      <div class="m-10 max-w-sm text-xl text-gray-700">
        <p class="my-10">
          An account will be created right away, and after login you will be
          able to save your
          <span class="adacraft-typo">adacraft</span> projects online.
        </p>
        <p class="my-10">
          Please be aware that <span class="adacraft-typo">adacraft</span> is
          just starting, stuff will move quickly, and during this alpha phase
          broken things might happen (though obviously we hope not 🤞).
        </p>
        <p class="my-10">
          If yout want to help in any way, first thank you! 🙏 and get in touch
          at
          <code class="text-sm font-bold text-gray-900">adacraft[at]mailbox.org</code>
          .
        </p>
      </div>
    </div>
    <div v-if="signupProcessState === 'wait for request response'">
      Sign up request send, please wait...
    </div>
    <div v-if="signupProcessState === 'user is signed up'">
      Sign up successful, you can log in
    </div>
  </div>
</template>

<script>
import { ref, computed, watch } from 'vue'
import auth from '../auth.js'
import PasswordInput from './PasswordInput.vue'

function emailIsValid(string) {
  const validEmailRegexp = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
  return validEmailRegexp.test(string)
}

export default {
  name: 'ThePageSignUp',
  components: {
    PasswordInput
  },
  setup() {
    const displayName = ref('')
    const email = ref('')
    const password = ref('')
    const userHasStartedEditingDisplayName = ref(false)
    watch(displayName, (newValue) => {
      if (userHasStartedEditingDisplayName.value === false && newValue !== '') {
        userHasStartedEditingDisplayName.value = true
      }
    })
    const badDisplayName = computed(() => displayName.value === '')
    const allFieldsAreOk = computed(() => (
      emailIsValid(email.value)
      && password.value !== ''
      && displayName.value !== ''
    ))
    return {
      displayName,
      userHasStartedEditingDisplayName,
      badDisplayName,
      email,
      password,
      signupProcessState: ref('wait for user input'),
      signupError: ref(''),
      allFieldsAreOk
    }
  },
  methods: {
    signup () {
      this.signupProcessState = 'wait for request response'
      auth
        .signup(this.email, this.password, { full_name: this.displayName })
        .then((response) => {
          this.signupProcessState = 'user is signed up'
          console.log(response)
        })
        .catch((error) => {
          this.signupProcessState = 'sign up is refused'
          this.signupError = error.message
          console.log(error)
        })
    }
  }
}
</script>
