<template>
  <div class="m-20 flex justify-center">
    <div
      v-if="
        processState === 'wait for user input'
        || processState === 'recovery is refused'
      " 
    >
      <div class="m-10 max-w-sm text-xl text-gray-700">
        <p class="my-10">
          We will send you a link to reset your password:
        </p>
      </div>
      <div class="w-full max-w-sm">
        <div class="md:flex md:items-center mb-6">
          <div class="md:w-1/3">
            <label
              class="ada-form-label"
              for="the-page-reset-password--email"
            >
              E-mail
            </label>
          </div>
          <div class="md:w-2/3">
            <input
              v-model="email"
              @keyup.enter="setEmail"
              class="ada-text-input w-full"
              id="the-page-reset-password--email"
              type="text"
            >
          </div>
        </div>
        <div class="md:flex md:items-center">
          <div class="md:w-1/3"></div>
          <div class="md:w-2/3">
            <div>
              <button class="ada-button" type="button" @click="setEmail">
                Get a password reset link
              </button>
            </div>
          </div>
        </div>
      </div>
      <div
        class="m-10 max-w-sm text-xl text-gray-700"
        v-if="processState === 'recovery is refused'"
      >
        <p>
          Can't send the password recovery link. Are you sure you have created
          an account with this e-mail?
        </p>
        <p class="mt-4">
          Please try again.
        </p>
      </div>
    </div>
    <div
      class="max-w-sm text-xl text-gray-700"
      v-if="processState === 'wait for request response'"
    >
      Checking this e-mail, please wait...
    </div>
    <div
      class="max-w-sm text-xl text-gray-700"
      v-if="processState === 'recovery is accepted'"
    >
      We have send a link to reset your password, check your emails!
    </div>
  </div>
</template>

<script>
import { ref } from 'vue'
import { useStore } from '../store.js'
import auth from '../auth.js'

export default {
  name: 'ThePageResetPassword',
  setup () {
    const { authentification } = useStore()
    const email = ref('')
    const processState = ref('wait for user input')
    return {
      email,
      authentification,
      processState
    }
  },
  methods: {
    setEmail () {
      this.processState = 'wait for request response'
      auth
        .requestPasswordRecovery(this.email)
        .then((response) => {
          this.processState = 'recovery is accepted'
        })
        .catch((error) => {
          this.processState = 'recovery is refused'
          console.log(
            `error while trying password recovery for email ${this.email}: ${error}`
          )
        })
    }
  }
}
</script>
