<template>
  <div class="m-auto max-w-6xl p-12">

    <div class="flex flex-col md:flex-row content-center">

      <div class="md:w-1/2 max-w-md flex flex-col justify-center">

        <div class="flex flex-row">
          <div>
            <img
              src="../assets/logo.svg"
              alt="adacraft logo"
              width="120"
              class="mr-10"
            >
          </div>
          <div>
            <div class="md:text-3xl text-xl hero-title text-gray-600">
              create stuff with 
            </div>
            <div class="md:text-5xl text-2xl font-black hero-title">
              adacraft
            </div>
          </div>
        </div>

        <div class="text-xl mt-4 text-gray-700">
          <p class="mt-2">
            Create interactive apps, animations, generative art, quizzes,
            explorable explanations, music, games, etc. Just like with
            <a
              href="https://scratch.mit.edu/"
              target="_blank"
              rel="noopener noreferrer"
              class="ada-link"
            >Scratch</a>.
          </p>
          <p class="mt-6">
            <span class="adacraft-typo">adacraft</span>
            extends Scratch with new tools to open up new creative
            possibilities.
          </p>
        </div>
        <div
          v-if="!userIsLoggedIn"
          class="mx-5 h-16 text-right"
        >
          <router-link to="/signup" class="ml-5">
            <button
              class="ada-button text-xl"
              type="button"
              title="Sign up to adacraft so you can save and share your projects"
            >
              sign up
            </button>
          </router-link>
        </div>
      </div>

      <div class="ml-16 pt-16">
        <img width="300" src="../assets/example_project_blocks.png">
      </div>
      <div class="ml-10 pt-16">
        <img width="300" src="../assets/example_project_canvas.png">
      </div>

    </div>

    <div class="m-20 flex justify-center space-x-16">
        <div class="mx-5 h-16 text-right">
          <router-link to="/projects" class="ml-5">
            <button
              class="ada-button text-xl"
              type="button"
              title="See some examples of what can be created with adacraft"
            >
              browse some examples
            </button>
          </router-link>
        </div>
    </div>

    <HorizontalLine/>

    <div class="mx-auto">
      <TheCarousel/>
    </div>

    <HorizontalLine/>

    <div class="m-20 flex justify-center space-x-16">
      <div class="w-1/2">
        <div class="flex flex-row justify-center text-4xl text-gray-500">
          Want to have a glimpse?
        </div>
        <div class="text-xl p-10 bg-white text-gray-700">
          <p>
            Here is a simple starter project you can play with, and, of course,
            modify. Feel what creating with adacraft means.
          </p>
        </div>
        <p class="text-right">
          <a href="/studio?project=3ff09fdd">
            <button
              class="ada-button text-xl"
              type="button"
              title="Open a very simple starter project"
            >
              open a simple example
            </button>
          </a>
        </p>
      </div>

      <div class="w-1/2">
        <div class="flex flex-row justify-center text-4xl text-gray-500">
          New to Scratch?
        </div>
        <div class="text-xl p-10 bg-white text-gray-700">
          <p>
            If you are new to block programming à la Scratch you can discover it
            with some tutorials. Then come back here to create your own stuff.
          </p>
        </div>
        <p class="text-right">
          <a href="/studio?tutorial=all">
            <button
              class="ada-button text-xl"
              type="button"
              title="Go directly to the tutorials page of the studio"
            >
              open tutorials
            </button>
          </a>
        </p>
      </div>

    </div>

    <HorizontalLine/>

    <div class="flex flex-row justify-center m-20 text-4xl text-gray-500">
      What to create?
    </div>

    <div class="flex flex-col md:flex-row">
      <div class="flex md:justify-end w-full md:w-1/2 -mt-5">
        <div>
            <div class="shadow-2xl max-w-md z-10 mt-6">
              <img
                alt="card img"
                class="rounded-t"
                src="../assets/manoloide_art_pepi_1.gif"
              >
              <div class="text-right mx-2 text-gray-500 text-sm">
                credits
                <a
                  class="ada-link"
                  href="http://manoloide.com/"
                  target="_blank"
                  rel="noopener noreferrer"
                >Manolo ide</a>
              </div>
              <div class="text-2xl px-10 pt-10 font-semibold text-gray-900">
                Create generative art
              </div>
              <div class="text-xl p-10 bg-white text-gray-700">
                <p>
                  With <span class="adacraft-typo">adacraft</span> you can
                  easily create algorithms that generate visual art using a
                  combination of constraints and randomness.
                </p>
                <p class="text-right mt-5">
                  <router-link to="/docs/generative-art">
                    <button
                      class="ada-button text-xl"
                      type="button"
                      title="Open the generative art tutorial for adacraft"
                    >
                      learn how
                    </button>
                  </router-link>
                </p>
              </div>
            </div>
        </div>
      </div>
      <div class="flex md:justify-end w-full md:w-1/2 -mt-5">
        <div>
            <div class="shadow-2xl max-w-md z-10 mt-6 ml-4">
              <img alt="card img" class="rounded-t" src="../assets/adavision.png">
              <div class="text-2xl px-10 pt-10 font-semibold text-gray-900">
                Create with Deep Learning for images recognition
              </div>
              <div class="text-xl p-10 bg-white text-gray-700">
                <p>
                  Use
                  <a
                    href="https://teachablemachine.withgoogle.com/train/image"
                    target="_blank"
                    rel="noopener noreferrer"
                    class="ada-link"
                  >Teachable Machine</a>
                  to create your own "Artificial Intelligence" models and use
                  them in your <span class="adacraft-typo">adacraft</span>
                  creations
                </p>
                <p class="text-right mt-10">
                  <router-link to="/docs/vision">
                    <button
                      class="ada-button text-xl"
                      type="button"
                      title="Open the Artificial Intelligence tutorial for adacraft"
                    >
                      learn how
                    </button>
                  </router-link>
                </p>
              </div>
            </div>
        </div>
      </div>
    </div>

    <div class="flex flex-col md:flex-row mt-10 p-10">
      <div class="md:w-1/2 max-w-md ml-20">
        <div class="py-5 text-2xl font-semibold text-gray-900">
          Generative art projects
        </div>
        <div
          class="m-10"
          v-for="project of genArtExamples"
          :key="project.uid"
        >
          <router-link :to="`/project/${project.id}`">
            <div class="mb-2 text-gray-600"> {{project.title}} </div>
            <img
              class="border"
              width=300
              :src="getProjectImageSrc(project.uid)"
              alt=""
            >
          </router-link>
        </div>
      </div>
      <div class="md:w-1/2 max-w-md ml-20">
        <div class="py-5 text-2xl font-semibold text-gray-900">
          Images recognition projects  
        </div>
        <div
          class="m-10"
          v-for="project of deepLearningProjects"
          :key="project.uid"
        >
          <router-link :to="`/project/${project.id}`">
            <div class="mb-2 text-gray-600"> {{project.title}} </div>
            <img
              class="border"
              width=300
              :src="getProjectImageSrc(project.uid)"
              alt=""
            >
          </router-link>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
import ProjectCard from './ProjectCard.vue'
import HorizontalLine from './HorizontalLine.vue'
import TheCarousel from './TheCarousel.vue'
import { adacraftStorageUrl } from '../config'
import { useSession } from '../store'

export default {
  name: 'ThePageHome',
  data () {
    return {
      genArtExamples: [
        { uid: '20945b28', id: '274730885680464391', title: 'Purple maze' },
        { uid: '9c440fd9', id: '274666433523220997', title: 'Circles' },
        { uid: 'c26d9783', id: '274654950403867143', title: 'Dashes\'n dots' }
      ],
      deepLearningProjects: [
        { uid: 'debb83fa', id: '273450370439578118', title: 'Image recognition starter' },
        { uid: '63e29a12', id: '273769966021378566', title: 'Bengal or Siamese?' },
        { uid: 'b0fc087a', id: '273772747689034245', title: 'Chef d\'orchestre' }
      ]
    }
  },
  components: {
    ProjectCard,
    HorizontalLine,
    TheCarousel
  },
  methods: {
    getProjectImageSrc (uid) {
      return `${adacraftStorageUrl}/projects/${uid}.png`
    },
    getAssetUrl (assetSubPath) {
      return require(`@/assets/${assetSubPath}`)
    }
  },
  setup () {
    const { userIsLoggedIn } = useSession()
    return { userIsLoggedIn }
  }
}
</script>

<style scoped>
.hero-title {
  font-family: 'Averia Libre', 'Segoe UI';
}
</style>
