<template>
  <div class="m-20 flex justify-center">

    <div v-if="userIsLoading">
      loading...
    </div>

    <div v-else>
      <div v-if="user.data === undefined">
        Can't find user which ID is {{ id }}
      </div>

      <div v-else>

        <div
          v-if="isCurrentUser"
          class="flex justify-center"
        >
          <button
            class="ada-button-minor text-sm"
            type="button"
            title="Edit profile"
          >
            <router-link to="/profile-settings">
              Edit profile
            </router-link>
          </button>
        </div>

        <div class="main flex flex-wrap justify-center md:flex-no-wrap">
          <div class="flex-shrink-0 mb-5 mt-10">
            <img
              :src="user.data.image"
              alt="User's avatar"
              width="150"
              style="border-radius: 88888px;"
              class=""
            >
          </div>
          <div class="mt-5 mb-5 flex flex-col ">
            <div class="ml-6">
              <h4 class="info-name"> {{ user.data.name }} </h4>
              <p class="info-bio">
                {{ user.data.bio }}
              </p>
            </div>
            <div v-if="
              user.data.scratchUsername 
              || user.data.twitterUsername
              || user.data.instagramUsername
              "
            >
              <h6 class="mt-2 ml-6 text-sm text-gray-500">My accounts on other platforms</h6>
              <div class="social-medias sm:flex flex-row justify-start">
                <div class="info-scratch-username w-auto" v-if="user.data.scratchUsername">
                  <a class="
                    badge 
                    rounded
                    w-2/2 
                    bg-gray-400   
                    hover:bg-orange-500 
                    hover:text-yellow-200 
                    duration-150"
                    v-bind:href="`https://scratch.mit.edu/users/${encodeString(parseUser(user.data.scratchUsername))}`"
                    target="_blank"
                  >
                    <img 
                      src="../assets/scratch.svg" 
                      alt="logo scratch" 
                      width="15" 
                      title="Find me on Scratch!"
                    >
                    <a 
                      class="pl-2"
                      title="Find me on Scratch!">
                        @{{ parseUser(user.data.scratchUsername) }}
                    </a>
                  </a>
                </div>
                <div class="info-twitter-username w-auto" v-if="user.data.twitterUsername">
                  <a class="
                    badge
                    rounded
                    w-2/2 
                    bg-gray-400
                    hover:bg-blue-500 
                    hover:text-yellow-200 
                    duration-150"
                    v-bind:href="`https://twitter.com/${encodeString(parseUser(user.data.twitterUsername))}`" 
                    target="_blank"
                  >
                    <img 
                      src="../assets/twitter-white.svg" 
                      alt="logo twitter" 
                      width="20" 
                      title="Find me on Twitter!"
                    >
                    <a 
                      class="pl-2" 
                      title="Find me on Twitter!">
                        @{{ parseUser(user.data.twitterUsername) }}
                    </a>
                  </a>
                </div>
                <div class="info-instagram-username w-auto" v-if="user.data.instagramUsername">
                  <a class="
                    badge 
                    rounded
                    w-2/2
                    bg-gray-400   
                    hover:bg-pink-500 
                    hover:text-yellow-200 
                    duration-150" 
                    v-bind:href="`https://www.instagram.com/${encodeString(parseUser(user.data.instagramUsername))}`"
                    target="_blank"
                  >
                    <img 
                      src="../assets/instagram-white.svg" 
                      alt="logo instagram" 
                      width="20" 
                      title="Find me on Instagram!"
                    >
                    <a 
                      class="pl-2"
                      title="Find me on Instagram!">
                        @{{ parseUser(user.data.instagramUsername) }}
                    </a>
                  </a>
                </div>
                <div class="info-youtube-username w-auto" v-if="user.data.youtubeUsername">
                  <a class="
                    badge 
                    rounded
                    w-2/2
                    bg-gray-400   
                    hover:bg-red-600 
                    hover:text-yellow-200 
                    duration-150" 
                    v-bind:href="`https://www.youtube.com/${encodeString(user.data.youtubeUsername)}`"
                    target="_blank"
                  >
                    <img 
                      src="../assets/youtube.svg" 
                      alt="logo youtube" 
                      width="27" 
                      title="Find me on YouTube!"
                    >
                    <a 
                      class="pl-2"
                      title="Find me on YouTube!">
                        @{{ user.data.youtubeUsername }}
                    </a>
                  </a>
                </div>
                <div class="info-gitub-username w-auto" v-if="user.data.githubUsername">
                  <a class="
                    badge 
                    rounded
                    w-2/2
                    bg-gray-400   
                    hover:bg-gray-800 
                    hover:text-yellow-200 
                    duration-150" 
                    v-bind:href="`https://github.com/${encodeString(user.data.githubUsername)}`"
                    target="_blank"
                  >
                    <img 
                      src="../assets/GitHub-Mark-Light-32px.png" 
                      alt="The GitHub logo" 
                      width="20" 
                      title="Find me on GitHub!"
                    >
                    <a 
                      class="pl-2"
                      title="Find me on GitHub!">
                        @{{ user.data.githubUsername }}
                    </a>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div :class="{'trash-projects-zone': showTrash}">
          <h1 class="projects-title">
            <span
              v-if="!showTrash"
            >
              {{ user.data.name }}'s projects
            </span>
            <span
              v-if="showTrash"
            >
              <span class="font-bold"> Trash </span>
              content for {{ user.data.name }}
            </span>
          </h1>

          <div
            class="mb-10 flex justify-center space-x-6"
            v-if="isCurrentUser"
          >
            <button
              v-if="!showTrash"
              class="ada-button"
            >
              <router-link to="/add-project">
                Create new project
              </router-link>
            </button>
            <button
              class="ada-button-minor"
              v-if="!showTrash"
              title="Show projects that are in the trash"
              @click="showTrash = true"
            >
              Show trash
            </button>
            <button
              class="ada-button"
              v-if="showTrash"
              title="Show all projects that are not in the trash"
              @click="showTrash = false"
            >
              Go back to full projects list
            </button>
          </div>

          <ListProjectCard :projects="projects"/>

        </div>
      </div>
    </div>

  </div>
</template>

<script>
import { computed, ref, watch } from 'vue'
import { useRouter } from 'vue-router'

import { useStore, useUserProjects, useUser } from '../store.js'
import ListProjectCard from '../components/ListProjectCard.vue'

export default {
  name: 'ThePageUser',
  components: {
    ListProjectCard
  },
  props: {
    id: {
      type: String,
      required: true
    }
  },

  setup (props) {
    const router = useRouter()
    const { authentification, idIsCurrentUser } = useStore()
    const isCurrentUser = computed(() => idIsCurrentUser(user.id))

    const showTrash = ref(false)

    const { user, userIsLoading } = useUser(props.id)
    const { projects: allProjects } = useUserProjects(user);

    const projectIsShowable = (project) => {
      if (showTrash.value) {
        return project.data.trash
      } else {
        return !project.data.trash
      }
    }

    const projects = computed(() => {
      return allProjects.value.filter(projectIsShowable)
    })

    watch(
      () => user.data,
      (data) => {
        if (data.personalId !== undefined && props.id !== data.personalId) {
          // In that case, we prefer to open the URL with the personalId instead
          // of the faunaId. Reopen the page.
          router.replace(`/people/${data.personalId}`)
        }
      }
    )

    // Get 'username' from anything like 'username' or
    // "http://any.where.org/username" or "http://any.where.org/username/" (with
    // a trailing slash).
    const parseUser = (string) => {
      return string
        // Remove trailing slah if any
        .replace(/\/$/, '')
        // Extract last part
        .split('/').pop()
    }
    return {
      user,
      userIsLoading,
      projects,
      isCurrentUser,
      parseUser,
      showTrash
    }
  },

  methods: {
    encodeString (string) {
      return `${encodeURIComponent(string)}`
    }
  },
}
</script>

<style lang="postcss" scoped>
.main {
  @apply bg-white;
  @apply rounded-lg;
  @apply shadow-lg;
  @apply border;
  @apply border-gray-200;
  @apply max-w-2xl;
  @apply p-5;
  @apply m-10;
  @apply mx-auto;
  @apply flex;
}

.info-name {
  @apply text-xl;
  @apply text-gray-900;
  @apply leading-tight;
}

.social-medias{
  @apply mt-4; 
  @apply ml-6; 
  @apply flex;
  @apply flex-wrap;
  @apply w-auto;
}

.badge{
  @apply inline-flex;
  @apply items-center;
  @apply p-1;
  @apply pl-3;
  @apply pr-3;
  @apply mr-3;
  @apply mb-3;
  @apply text-xs;
  @apply text-white;
}


.info-bio {
  white-space: pre-wrap;
  @apply text-sm;
  @apply text-gray-900;
  @apply leading-normal;
  @apply mt-3;
}

.projects-title {
  @apply text-center;
  @apply text-gray-800;
  @apply p-10;
  @apply text-2xl;
  @apply tracking-wider;
}

.trash-projects-zone {
  @apply bg-gray-100;
  @apply border-gray-200 border rounded-md;
}
</style>