<template>
  <div>
    <TheNavBar />
    <router-view></router-view>
  </div>
</template>

<script>
import TheNavBar from './components/TheNavBar.vue'

export default {
  name: 'App',
  components: {
    TheNavBar
  }
}
</script>
