.ada-button {
  @apply shadow bg-purple-400 text-white font-bold py-2 px-4 rounded;
}

.ada-button:hover {
  @apply bg-purple-500;
}

.ada-button:focus {
  @apply shadow-outline outline-none;
}

.ada-button-tiny {
  @apply bg-purple-400 text-white px-2 rounded text-xs;
}

.ada-button-tiny:hover {
  @apply bg-purple-500;
}

.ada-button-tiny:focus {
  @apply shadow-outline outline-none;
}


.ada-button-minor {
  @apply shadow bg-white text-purple-400 font-bold py-1 px-4 rounded;
  @apply border-purple-100 border;
}

.ada-button-minor:hover {
  @apply bg-purple-100;
}

.ada-button-minor:focus {
  @apply shadow-outline outline-none;
}

.ada-button-overlay {
  @apply text-xs font-bold;
  @apply py-1 px-2;
  @apply bg-gray-600 text-white;
  @apply rounded;
  @apply bg-opacity-75;
  @apply border border-gray-500;
}

.ada-button-overlay:hover {
  @apply bg-opacity-100;
  @apply border border-gray-400;
}

.ada-button-overlay:focus {
  @apply outline-none;
}

.adacraft-typo {
  font-family: 'Averia Libre', 'Segoe UI';
}

.ada-form-label {
  @apply block mb-1 pr-4;
  @apply text-gray-500 font-bold;
}

@screen md {
  .ada-form-label {
    @apply text-right mb-0;
  }
}


.ada-text-input {
  @apply py-2 px-4;
  @apply text-gray-700 leading-tight;
  @apply bg-gray-200 appearance-none;
  @apply border-2 border-gray-200 rounded;
}

.ada-text-input:focus {
  @apply outline-none bg-white border-purple-500;
}

.ada-link {
  @apply font-semibold text-purple-400;
}

.ada-link:hover {
  @apply text-purple-500;
}

.ada-project-no-name {
  @apply text-gray-400 text-sm;
}